.div1{
    width: 100px;
    height: 100px;
    background-color: red;
    margin-bottom: 20px;
    transition: all 1s ease;
}
.div2{
    width: 100px;
    height: 100px;
    background-color: blue;
    margin-top: 20px;
    transition: all 1s ease;
    transition-delay: 1s;
}
#div{
    width: 300px;
}
#div:hover>.div1{
    width: 300px
}
#div:hover>.div2{
    width: 300px
}